<div>
    <div><%=err_msg%></div><br>
    <form method="post" action="/login">
        <input type="text" name="first_name" class="login" placeholder="First Name"><br><br>
        <input type="text" name="last_name" class="login" placeholder="Last Name"><br><br>
        <input type="text" name="user_name" class="login" placeholder="Username"><br><br>
        <input type="password" name="password" class="login" placeholder="Password"><br><br>
        <input type="submit" value="Login">
    </form>
</div>