<div>
    <div>Error Message</div><br>
    <form method="post" action="/calc">
        <input type="text" name="user_name" class="login" placeholder="Username">
        <br><br>
        <input type="text" name="password" class="login" placeholder="Password">
        <br><br>
        <input type="submit" value="Login">
    </form>
</div>