<div class="calc">
    <div class="err_msg"><%=err_msg%></div><br>
    <form method="post" action="/login">
        <input class="box" type="text" name="first_name" class="login" placeholder="First Name"><br>
        <input class="box" type="text" name="last_name" class="login" placeholder="Last Name"><br>
        <input class="box" type="text" name="user_name" class="login" placeholder="Username"><br>
        <input class="box" type="password" name="password" class="login" placeholder="Password"><br>
        <input class="btn" type="submit" value="Login">
    </form>
</div>