<html>
    <head>
            <title>Secure Calculator</title>
            <script src="js/scripts.js"></script>
            <link href="https://fonts.googleapis.com/css?family=Roboto:300, 500" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
    <body>
        <center>
            <%= yield %>
        </center>
    </body>
</html>