html{
    font-size: 10px;
}
#body{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#screen{
    text-align: center;
    font-family: Roboto, serif;
    font-weight: 500;
    font-size: 3rem;
    border: 1px solid lightgoldenrodyellow;
    box-shadow: 1px 1px 1px black;
    background-color: #ffe680d5;
    height: 2em;
    width: 90%;
    margin: 0.3em;
}
.js_calc{
    background-color: #dbdbafe1;
    border: 1px solid grey;
    border-radius: 30%;
    box-shadow: 3px 3px 5px black;
    font-size: 3rem;
    width: 50%;
    height: 70%;
    padding: 40px 10px;
    margin: 50px 5px 5px 5px;
}
.calc{
    background-color: #3a3e42c9;
    border: 1px solid grey;
    border-radius: 30%;
    box-shadow: 1px 1px 1px black;
    font-size: 2.5rem;
    width: 50%;
    height: 70%;
    padding: 1em;
    margin: 1em;
}
table{
    width: 60%;
    height: 80%;
    text-align: center;
}
.calc_button{
    width: 50px;
    height: 5em;
    margin: 1em;
    text-align: center;
    font-family: Roboto, serif;
    font-weight: 500;
    font-size: 1rem;
}
.clear_button{
    width: 70%;
    height: 5em;
    margin: 1em;
    text-align: center;
    font-family: Roboto, serif;
    font-weight: 500;
    font-size: 1rem;
}
.logout{
    height: 10%;
    width: 99%;
    text-align: right;
    padding: 5px;
}
.signed{
    font-family: Roboto, serif;
    font-weight: 500;
    font-size: 2rem;
    margin-right: 0.5em;
}
.head{
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 4rem;
    text-align: center;
    text-shadow: 1px 1px 0.5px black;
}
.num{
    background-color: transparent;
    border-bottom: 1px solid #596470;
    border-right: 1px solid lightslategray;
    font-size: 2rem;
    width: 10em;
}
.radio{
    
}