html{
    font-size: 10px;
}
#body{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#screen{
    text-align: center;
    font-family: Roboto, serif;
    font-weight: 500;
    font-size: 3rem;
    border: 1px solid lightgoldenrodyellow;
    box-shadow: 1px 1px 1px black;
    background-color: #ffe6809c;
    height: 2em;
    width: 90%;
    margin: 0.3em;
}
.js_calc{
    background-color: #dbdbafe1;
    border: 1px solid grey;
    border-radius: 30%;
    box-shadow: 3px 3px 5px black;
    font-size: 3rem;
    width: 50%;
    height: 70%;
    padding: 40px 10px;
    margin: 50px 5px 5px 5px;
}
.calc{
    background-color: #3a3e42c9;
    border: 1px solid grey;
    border-radius: 30%;
    box-shadow: 1px 1px 1px black;
    font-size: 2.5rem;
    width: 35em;
    height: 50em%;
    padding: 1em;
    margin: 1em;
}
table{
    width: 60%;
    height: 80%;
    text-align: center;
}
.calc_button{
    width: 50px;
    height: 5em;
    margin: 1em;
    text-align: center;
    font-family: Roboto, serif;
    font-weight: 500;
    font-size: 2rem;
}
.clear_button{
    width: 70%;
    height: 5em;
    margin: 1em;
    text-align: center;
    font-family: Roboto, serif;
    font-weight: 500;
    font-size: 3rem;
}
.logout{
    height: 10%;
    width: 99%;
    text-align: right;
    padding: 5px;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
}
.signed{
    font-family: Roboto, serif;
    font-weight: 500;
    font-size: 2rem;
    margin: 0.5em;
}
.head{
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 4rem;
    text-align: center;
    text-shadow: 1px 1px 0.5px black;
    color: #ffffff;
    margin: 0.1em;
}
.box{
    background-color: #ffe6809c;
    border-bottom: 1px solid #596470;
    border-right: 1px solid lightslategray;
    font-family: Roboto, sans-serif;
    font-size: 2rem;
    width: 20em;
    padding: 1em;
    color: #ffffff;
    border-radius: 1em;
    outline: none;
    margin: 0.2em;
}
.err_msg{
    font-family: Roboto, serif;
    font-weight: 500;
    font-size: 2rem;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
    margin: 0.1em;
}
.btn{
    font-size: 1.8rem;
    font-family: Roboto, serif;
    font-weight: 500;
    width: 10em;
    padding: 0.5em;
    text-align: center;
    background-color: #daa520b0;
    color: #ffffff;
    border: 1px 1px 1px #596470;
    box-shadow: 5px 5px 20px darkslategrey;
    outline: none;
    border-radius: 1em;
    margin: 0.5em;
}
.rad_btn{
    color: #ffffff;
    font-family: Roboto, serif;
    font-size: 3rem;
    text-align: left;
    width: 5em;
}